{% extends 'components/base.html' %}
{% block nav %}
{% include 'components/navbar.html' %}
{% endblock nav %}
{% block content %}
  <div class="card m-4 shadow-sm"><div class="card-header"><h2>Партнёры</h2></div></div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <td>Имя</td>
        <td>ИНН</td>
        <td>КПП</td>
        <td>Адрес</td>
      </tr>
    </thead>
    <tbody>
    {% for partner in partners %}
      <tr>
        <td>{{ partner.name }}</td>
        <td>{{ partner.inn }}</td>
        <td>{{ partner.kpp }}</td>
        <td>{{ partner.address }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}