<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
            <img src="https://upload.wikimedia.org/wikipedia/ru/0/04/GAZ-group-logo-2015.svg">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="../templates/main.html">Предприятия</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="../templates/unitmeas.html">Единицы измерения</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="../templates/products.html">Товары</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="../templates/forms.html">Форма накладной</a>
              </li>

            </ul>

            <button type="button" class="btn btn-outline-primary">Создать запись</button>
          </div>
        </div>
      </nav>

    <main>

        <div class="container">

            <h1>Товары</h1>
            
            <div class="row">
                <div class="col-2">
                    № Номенклатур.
                </div>
                <div class="col">
                    Наименование 
                </div>
                <div class="col">
                    ТМЦ по КД
                </div>
                
            </div>

            <div class="row">
                <div class="col-2">
                  120655
                </div>
                <div class="col">
                  Колесо железнодорожное
                </div>
                <div class="col">
                    Колесо 1556577
                </div>
                
            </div>
          

            <div class="row">
                <div class="col-2">
                    196755
                </div>
                <div class="col">
                    Труба 40 мм
                </div>
                <div class="col">
                    Труба 020
                </div>
                
            </div>

            <div class="row">
                <div class="col-2">
                    839255
                </div>
                <div class="col">
                    Гайка
                </div>
                <div class="col">
                    Гайка 166
                </div>
                
            </div>

            <div class="row">
                <div class="col-2">
                    114355
                </div>
                <div class="col">
                    Стекло закаленное
                </div>
                <div class="col">
                    Стекло 177
                </div>
                
            </div>

            <div class="row">
                <div class="col-2">
                    119575
                </div>
                <div class="col">
                    Песок
                </div>
                <div class="col">
                    Песок 383
                </div>
                
            </div>

        </div>

    </main>

      
</body>
</html>