{% extends 'components/base.html' %}
{% block nav %}
{% include 'components/navbar.html' %}
{% endblock nav %}
{% block content %}
  <div class="card m-4 shadow-sm"><div class="card-header"><h2>Товары</h2></div></div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <td>Номенк. Номер</td>
        <td>Наименование ТМЦ</td>
        <td>Наименование ТМЦ КД</td>
      </tr>
    </thead>
    <tbody>
    {% for tovar in tovars %}
      <tr>
        <td>{{ tovar.nom_number }}</td>
        <td>{{ tovar.name_tmc }}</td>
        <td>{{ tovar.name_tmc_kd }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}